In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [37]:
total_functions = 8
function_dimensions = {}
function_names = []
initial_inputs = []
initial_outputs = []
for i in range(1,9):
    function_name = f"function_{i}"
    function_names.append(function_name)
    initial_input_data = np.load(f"initial_data/{function_name}/initial_inputs.npy")
    initial_inputs.append(initial_input_data)
    initial_output_data = np.load(f"initial_data/{function_name}/initial_outputs.npy")
    initial_outputs.append(initial_output_data)
    X_dimensions = len(initial_input_data[0])
    Y_dimensions = 1 if isinstance(initial_output_data[0], float) else len(initial_output_data[0])
    function_dimensions[function_name] = (X_dimensions, Y_dimensions)

In [66]:
function_df_dict = {}
for (idx, f) in enumerate(function_names):
    working_df = pd.DataFrame()
    headers = []
    for i in range(len(initial_inputs[idx][0])):
        headers.append(f"X_{i+1}")
    working_df[headers] = initial_inputs[idx]
    working_df['Y'] = initial_outputs[idx]
    function_df_dict[f] = working_df

In [92]:
function_df_dict['function_1']

        X_1       X_2              Y
0  0.319404  0.762959   1.322677e-79
1  0.574329  0.879898   1.033078e-46
2  0.731024  0.733000   7.710875e-16
3  0.840353  0.264732  3.341771e-124
4  0.650114  0.681526  -3.606063e-03
5  0.410437  0.147554  -2.159249e-54
6  0.312691  0.078723  -2.089093e-91
7  0.683418  0.861057   2.535001e-40
8  0.082507  0.403488   3.606771e-81
9  0.883890  0.582254   6.229856e-48

In [100]:
def largest_interval_midpoint(X_in):
    X_in = np.sort(X_in)
    lower = 0
    upper = 0
    largest_length = 0
    length = 0
    midpoint = None
    
    for i in range(len(X_in)-1):
        length = X_in[i+1]-X_in[i]
        if length > largest_length:
            largest_length = length
            lower = X_in[i]
            upper = X_in[i+1]
            midpoint = ((upper-lower)/2)+lower
    
    return midpoint

In [120]:
quieries_X_total = []
for idx, f in enumerate(function_names):
    X_dimension = function_dimensions[f][0]
    headers = []
    for i in range(X_dimension):
        headers.append(f"X_{i+1}")
    
    quieries_X = []
    for header in headers:
        quieries_X.append(str(round(largest_interval_midpoint(function_df_dict[f][header]),6)))
    quieries_X_total.append('-'.join(quieries_X))

quieries_X_total

['0.197599-0.492871',
 '0.240674-0.517012',
 '0.856453-0.525792-0.668723',
 '0.53318-0.320368-0.61321-0.908168',
 '0.630732-0.255244-0.543505-0.663668',
 '0.345536-0.61763-0.264553-0.301579-0.415394',
 '0.368718-0.749202-0.189201-0.514297-0.368287-0.886672',
 '0.265797-0.384769-0.152957-0.831771-0.619797-0.838113-0.360232-0.819889']

In [104]:
np.sort(function_df_dict['function_1']['X_2'])

array([0.07872278, 0.1475543 , 0.26473161, 0.40348751, 0.58225397,
       0.68152635, 0.73299988, 0.76295937, 0.86105746, 0.8798981 ])

In [122]:
np.round(1.1000, 3)

1.1